<div class="loader" ng-if="vm.isLoading">
    <div class="triangle-wrapper">
        <div class="triangle triangle-1"></div>
        <div class="triangle triangle-2"></div>
        <div class="triangle triangle-3"></div>
        <div class="triangle triangle-4"></div>
        <div class="triangle triangle-5"></div>
        <p class="triangle-loading">Loading</p>
    </div>
</div>

<script>
    (() => {
        const $triangles = document.querySelectorAll('.triangle')
        const template = `<svg class="triangle-svg" viewBox="0 0 140 141">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <polygon class="triangle-polygon"  points="70 6 136 138 4 138"></polygon>
    </g>
  </svg>`;

        Array.prototype.forEach.call($triangles, ($triangle, index) => {
            $triangle.innerHTML = template
        })
    })()
</script>

<div class="banda-detail">
    <div class="col-xs-12 banda-detail__cover">
        <div class="blurred-container">
            <div class="blurred" ng-style="{'background-image':'url('+vm.banda.images[0].url+')'}">
            </div>
            <!--<img data-ng-src="{{'data:' + vm.banda.fotoContentType + ';base64,' + vm.banda.foto}}" alt="Imagen de banda"/>-->
        </div>
        <div class="container container-mid">
            <div class="banda-detail__picture-container">
                <img data-ng-src="{{vm.banda.images[0].url}}"  alt="Imagen de banda"/>
            </div>
            <div class="banda-detail__stats">
                <a class="active" ng-click="vm.triggerClass($event)" href="">General</a>
                <!--<a ng-click="vm.triggerClass($event)" href="">Seguidores {{vm.banda.followers.total}}</a>-->
                <a ng-click="vm.triggerClass($event)" href="">Comentarios</a>
            </div>
        </div>
    </div>
        <div class="col-xs-12 banda-detail__resumen">
            <div class="container">
                <div class="div-50 tabs">
                    <section class="top-tracks-container">
                        <h3>Top canciones de {{vm.banda.name}}</h3>
                        <ul class="grid">
                            <li ng-repeat="track in vm.topTracks.tracks" >
                                <h5>{{track.name}}</h5>
                                <div class="img-audio-container">
                                    <img ng-src="{{track.album.images[1].url}}" alt="Imagen del album {{track.album.name}}">
                                    <i
                                       data-track-name="{{track.name}}"
                                       ng-click="vm.toggleIcon($event)"
                                       class="track-icon-play fa fa-play"
                                    >
                                    </i>
                                </div>
                            </li>
                        </ul>
                    </section>
                    <!--<div ng-if="vm.showGeneral" class="general">-->
                        <!--<span class="resumen-label">INFORMACIÓN GENERAL</span>-->
                        <!--<p>{{vm.banda.localizacion}}</p>-->
                    <!--</div>-->
                    <!--<div ng-if="vm.showSeguidores" class="seguidores">-->
                        <!--<span class="resumen-label">SEGUIDORES</span>-->
                        <!--<p>{{vm.banda.localizacion}}</p>-->
                    <!--</div>-->
                    <!--<div ng-if="vm.showComentarios" class="comentarios">-->
                        <!--<span class="resumen-label">COMENTARIOS</span>-->
                        <!--<form ng-submit="vm.addComment()" name="addComentForm" class="commentarios__form">-->
                            <!--<textarea name="comment" ng-model="vm.commentText" placeholder="Deja tú comentario..." required></textarea>-->
                            <!--<button ng-disabled="addComentForm.$invalid" type="submit">Enviar</button>-->
                        <!--</form>-->
                    <!--</div>-->
                </div>

                <div class="div-50 more-info">
                    <h1 class="artist-name">{{vm.banda.name}}</h1>
                    <h3><a class="artist-spotify-profile" target="_blank" ng-href="{{vm.banda.external_urls.spotify}}">Perfil de {{vm.banda.name}} en Spotify</a></h3>
                    <p>Seguidores <span class="followers">{{vm.banda.followers.total}}</span></p>
                    <p>{{vm.bandaBio}}</p>
                </div>
            </div>
        </div>

    <!--<div>-->
    <!--<h2><span data-translate="rocktionaryApp.banda.detail.title">Banda</span> {{vm.banda.id}}</h2>-->
    <!--<hr>-->
    <!--<jhi-alert-error></jhi-alert-error>-->
    <!--<dl class="dl-horizontal jh-entity-details">-->
    <!--<dt><span data-translate="rocktionaryApp.banda.nombre">Nombre</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.nombre}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.localizacion">Localizacion</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.localizacion}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.datacreacion">Datacreacion</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.datacreacion | date:'mediumDate'}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.anosactivo">Anosactivo</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.anosactivo | date:'mediumDate'}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.temas">Temas</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.temas}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.discografica">Discografica</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.discografica}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.foto">Foto</span></dt>-->
    <!--<dd>-->
    <!--<div ng-if="vm.banda.foto">-->
    <!--<a ng-click="vm.openFile(vm.banda.fotoContentType, vm.banda.foto)">-->
    <!--<img data-ng-src="{{'data:' + vm.banda.fotoContentType + ';base64,' + vm.banda.foto}}" style="max-width: 100%;" alt="banda image"/>-->
    <!--</a>-->
    <!--{{vm.banda.fotoContentType}}, {{vm.byteSize(vm.banda.foto)}}-->
    <!--</div>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.logo">Logo</span></dt>-->
    <!--<dd>-->
    <!--<div ng-if="vm.banda.logo">-->
    <!--<a ng-click="vm.openFile(vm.banda.logoContentType, vm.banda.logo)">-->
    <!--<img data-ng-src="{{'data:' + vm.banda.logoContentType + ';base64,' + vm.banda.logo}}" style="max-width: 100%;" alt="banda image"/>-->
    <!--</a>-->
    <!--{{vm.banda.logoContentType}}, {{vm.byteSize(vm.banda.logo)}}-->
    <!--</div>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.pais">Pais</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.pais}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.estado">Estado</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.estado}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.genero">Genero</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.genero}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.biografia">Biografia</span></dt>-->
    <!--<dd>-->
    <!--<span>{{vm.banda.biografia}}</span>-->
    <!--</dd>-->
    <!--<dt><span data-translate="rocktionaryApp.banda.discografica">Discografica</span></dt>-->
    <!--<dd>-->
    <!--<span ng-repeat="discografica in vm.banda.discograficas">-->
    <!--<a ui-sref="discografica-detail({id: discografica.id})">{{discografica.nombre}}</a>{{$last ? '' : ', '}}-->
    <!--</span>-->
    <!--</dd>-->
    <!--</dl>-->

    <!--<button type="submit"-->
    <!--ui-sref="{{ vm.previousState }}"-->
    <!--class="btn btn-info">-->
    <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>-->
    <!--</button>-->

    <!--<button type="button" ui-sref="banda-detail.edit({id:vm.banda.id})" class="btn btn-primary">-->
    <!--<span class="glyphicon glyphicon-pencil"></span>-->
    <!--<span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>-->
    <!--</button>-->
    <!--</div>-->
