* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: $main-bg;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    min-height: 100vh;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h5, p, span {
    color: #fff;
}

p {
    text-align: center;
    font-weight: 300;
}

input, select, textarea {
    outline: 0;
}

input:focus, select:focus, textarea:focus {
    border-color: #fff !important;
}

ul{
    list-style: none;
}
