
<div>
    <h2><span data-translate="rocktionaryApp.userExt.detail.title">User Ext</span> {{vm.userExt.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="rocktionaryApp.userExt.foto">Foto</span></dt>
        <dd>
            <div ng-if="vm.userExt.foto">
                <a ng-click="vm.openFile(vm.userExt.fotoContentType, vm.userExt.foto)">
                    <img data-ng-src="{{'data:' + vm.userExt.fotoContentType + ';base64,' + vm.userExt.foto}}" style="max-width: 100%;" alt="userExt image"/>
                </a>
                {{vm.userExt.fotoContentType}}, {{vm.byteSize(vm.userExt.foto)}}
            </div>
        </dd>
        <dt><span data-translate="rocktionaryApp.userExt.latitud">Latitud</span></dt>
        <dd>
            <span>{{vm.userExt.latitud}}</span>
        </dd>
        <dt><span data-translate="rocktionaryApp.userExt.longitud">Longitud</span></dt>
        <dd>
            <span>{{vm.userExt.longitud}}</span>
        </dd>
        <dt><span data-translate="rocktionaryApp.userExt.localidad">Localidad</span></dt>
        <dd>
            <span>{{vm.userExt.localidad}}</span>
        </dd>
        <dt><span data-translate="rocktionaryApp.userExt.user">User</span></dt>
        <dd>
            {{vm.userExt.user.login}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="user-ext-detail.edit({id:vm.userExt.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
