<div class="container">
    <div class="row home">
        <div class="home__logo-container col-xs-10 col-xs-offset-1">
            <!--<img class="home__logo" src="/content/images/libro-cerrado.png" alt="">-->
            <figure class='book' id="book">
                <ul class='hardcover_front'>
                    <li>
                        <div class="coverDesign blue">
                        </div>
                    </li>
                    <li></li>
                </ul>
                <ul class='page'>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class='hardcover_back'>
                    <li></li>
                    <li></li>
                </ul>
                <ul class='book_spine'>
                    <li></li>
                    <li></li>
                </ul>
            </figure>
        </div>
        <form class="col-xs-10 col-xs-offset-1">
            <p class="home__cta subtitle">Buscar</p>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 home__labels">
                <span id="canciones" ng-click="vm.handleClassChange('canciones', $event); vm.handleOnInputChange()">Canciones</span>
                <span id="albumes" ng-click="vm.handleClassChange('albumes', $event); vm.handleOnInputChange()" class="active">Albumes</span>
                <span id="bandas" ng-click="vm.handleClassChange('bandas', $event); vm.handleOnInputChange()">Bandas</span>
            </div>

            <div class="px-0 form-group col-xs-12 col-sm-6 col-sm-offset-3 home__search-container">
                <input autocomplete="off"
                       ng-keyup="vm.onEnterKey($event)"
                       ng-change="vm.handleOnInputChange()"
                       ng-model="vm.inputSearch"
                       id="input"
                       type="search"
                       name="search"
                       placeholder="Buscar {{vm.placeHolderText}}..."
                       class="form-control home__input-search">
                <i class="fa {{vm.isListening ? 'fa-microphone isListening' : 'fa-microphone-slash'}}" ng-click="vm.triggerMic()" aria-hidden="true"></i>
            </div>
            <div class="px-0 form-group col-xs-12 col-sm-6 col-sm-offset-3">
                <div ng-class="{'is-visible': vm.showResults}" class="home__search-results">
                    <div ng-if="vm.isLoading" class="home__loader ball-clip-rotate">
                        <div></div>
                    </div>
                    <div ng-if="!vm.isLoading">
                        <p class="notFoundMsg" ng-if="vm.notFound">{{vm.notFoundMsg}}</p>
                        <div class="home__card-container" ng-if="!vm.notFound">

                            <div ng-switch="vm.type">
                                <p class="home__result-text" ng-switch-when="track">{{vm.listaResultados.tracks.items.length > 0
                                    ? 'Resultados en ' + vm.placeHolderText
                                    : 'No se encontrarón en la búsqueda para ' + '"'+ vm.inputSearch+'"' + ' en ' + vm.placeHolderText}}</p>
                                <p class="home__result-text" ng-switch-when="album">{{vm.listaResultados.albums.items.length > 0
                                    ? 'Resultados en ' + vm.placeHolderText
                                    : 'No se encontrarón en la búsqueda para ' + '"'+ vm.inputSearch+'"' + ' en ' + vm.placeHolderText}}</p>
                                <p class="home__result-text" ng-switch-when="artist">{{vm.listaResultados.artists.items.length > 0
                                    ? 'Resultados en ' + vm.placeHolderText
                                    : 'No se encontrarón en la búsqueda para ' +'"'+ vm.inputSearch+'"' + ' en ' + vm.placeHolderText}}</p>
                            </div>

                            <a ui-sref="banda({id: artist.id})" ng-if="vm.placeHolderText === 'bandas'" ng-repeat="artist in vm.listaResultados.artists.items">
                                <strong class="text-uppercase">{{artist.name}}</strong>
                                <img ng-if="artist.images.length > 0" ng-src="{{artist.images[1].url}}" alt="Foto">
                                <p>Seguidores: {{artist.followers.total}}</p>
                            </a>

                            <a ui-sref="album({id: album.id})" ng-if="vm.placeHolderText === 'albumes'" ng-repeat="album in vm.listaResultados.albums.items">

                                <strong class="text-uppercase">{{album.name}}</strong>
                                <img ng-if="album.images.length > 0" ng-src="{{album.images[1].url}}" alt="">
                            </a>

                            <a ui-sref="cancion({id: cancion.id})" ng-if="vm.placeHolderText === 'canciones'" ng-repeat="cancion in vm.listaResultados.tracks.items | orderBy: '-popularity'">
                                <strong class="text-uppercase">{{cancion.name}}</strong>
                                <img ng-if="cancion.album.images.length > 0" ng-src="{{cancion.album.images[1].url}}" alt="Foto">
                                <p>Duración {{vm.parseMillis(cancion.duration_ms)}}</p>
                                <p>{{cancion.id}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>

</div>
