
#myCarousel{
    top: 15px;
    border: 2px solid white;
}
.about_us strong{
    font-size: 2.7rem;
    padding: 1rem;
    background-color: rgba(95, 10, 10, 0.74);
    border-radius: 10px;
    color: #ad9696;
}
.descripcion{
    top: 45px;
    border-radius: 1rem;
    font-size: 1.4rem;
    background-color: rgba(88,77,77,0.15);
    color:white;
}
.about_us_info{
    top: 80px;
    background-color: rgba(88,77,77,0.15);
    border-radius: 1rem;
    color:white;
}
.frase_preferida{
    color:#3e3b3b;
}

.perfil_miembro1 img,
.perfil_miembro2 img,
.perfil_miembro3 img,
.perfil_miembro4 img{
    width:100%;
}
.text_miembro1,
.text_miembro2,
.text_miembro3,
.text_miembro4{
    font-size: 4rem;
    font-family: "New Rocker", cursive;
}

.skill_miembro1,
.skill_miembro2,
.skill_miembro3,
.skill_miembro4{
    background-color:#323232;
}
.skill_miembro1 img,
.skill_miembro2  img,
.skill_miembro3  img,
.skill_miembro4  img{
    width: 100%;
}
.miembro{
    margin-top: 50px;
}
.info_miembro{
    background-color: gray;
    color: black;
    padding: 2rem;
}
.info_miembro span{
    display: block;
    margin-bottom: 13px;
}

@media screen and (min-width: 768px) {
    .descripcion{
        font-size: 1.9rem;
    }
    .info_miembro{
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 992px){
    .descripcion{
        font-size: 2.5rem;
        text-align: center;
    }
    .perfil_miembro1,
    .perfil_miembro2,
    .perfil_miembro3,
    .perfil_miembro4{
        display: flex;
        align-items: center;
        height: 400px;
    }
    .perfil_miembro1 img,
    .perfil_miembro2 img,
    .perfil_miembro3 img,
    .perfil_miembro4 img{
        height: 298px;
    }
    .info_miembro{
        height: 368px;
        font-size: 1.2rem;
        padding: 1.5rem;
    }
    }
    .skill_miembro1,
    .skill_miembro2,
    .skill_miembro3,
    .skill_miembro4{
        background-color: #323232;
    }

@media screen and (min-width: 1200px){
    .info_miembro{
        height: 449.5px;
        font-size: 1.5rem;
        padding: 1.5rem;
    }
    .about_us_info{
        height: 2300px;
    }

    .perfil_miembro1 img,
    .perfil_miembro2 img,
    .perfil_miembro3 img,
    .perfil_miembro4 img{
        height: 360px;
    }
    .perfil_miembro1,
    .perfil_miembro2,
    .perfil_miembro3,
    .perfil_miembro4{
        display: flex;
        align-items: center;
        height: 400px;
    }
}
