.home {

    &__loader {
        width: 25px;
        display: block;
        margin: 10px auto;
    }

    margin-top: 20px;

    &__logo {
        margin: 0 auto;
    }

    &__labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        cursor: pointer;

        @media (min-width: 600px) {
            justify-content: center;
        }

        span {
            display: block;
            padding: .5em;
            border: $thin-border;
            border-radius: 2px;
            transition: all ease-out 0.2s;
            outline: none;

            @media (min-width: 600px) {
                margin: 0 10px;
            }

            &:hover, &.active {
                transform: scale(1.1);
                background-color: rgba($secondary, 0.5);
            }

            &.active {
                background-color: rgba($secondary, 1);
            }
        }
    }

    &__search-container {
        position: relative;
        margin-bottom: 0;
        i {
            color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 25px;
            cursor: pointer;
            font-size: 18px;
            outline: 0;
            transform-origin: top right;
            transition: font-size ease-in 0.2s;
            &.isListening {
                font-size: 22px;
            }
        }
    }

    &__input-search {
        border: $thin-border;
        background-color: $primary;
        color: #fff;
        &::placeholder {
            color: #fff;
        }
        &:focus {
            border: $white-border !important;
        }

    }

    &__search-results {
        background-color: $secondary;
        color: #fff;
        padding: 1em;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.2s;
        &.is-visible {
            opacity: 1;
            visibility: visible;
        }
    }


}





//// libro below


