 // estilos barra de navegación
.main-nav {


    &__toggle {
        transition: all ease-in 0.2s;
        span {
            background-color: #fff !important;
            height: 1px !important;
        }
    }
}

.banda-margin {
    margin-bottom: 0;
}

.menu {


    &__link {
        position: relative;
        display: flex !important;
        align-items: center;

        i {
            margin-left: 10px;
        }


    }

    &__submenu {
        visibility: hidden;
        opacity: 0;
        background-color: $secondary;
        transition: all ease 0.2s;
        li {
            color: #fff;
            padding: 1em;
        }

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(-10px);
        }
    }

}


.mynav .dropdown-menu li > a:not(.open) {
    background-color: $secondary !important;
    transition: all ease-in 0.2s;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}
//.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
//    background-color: $secondary-darken;
//}
.dropdown-menu {
    padding: 0;
}

.mynav .open > a {
    background-color: $secondary-transparent !important
}

.mynav .dropdown-menu li > a:hover {
    background-color: $secondary-darken !important;
}
mynav .dropdown-menu li > a:hover {
    background-color: $secondary-darken !important;
}
.mynav {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
}
.mynav .dropdown-menu {
    background-color: $secondary;
}
.mynav li.active a {
    background-color: $secondary !important;
}
.mynav a {
    color: #fff !important;
}
