
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPuntuacionBandaLabel" data-translate="rocktionaryApp.puntuacionBanda.home.createOrEditLabel">Create or edit a Puntuacion Banda</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.puntuacionBanda.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.puntuacionBanda.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rocktionaryApp.puntuacionBanda.valoracion" for="field_valoracion">Valoracion</label>
            <input type="number" class="form-control" name="valoracion" id="field_valoracion"
                    ng-model="vm.puntuacionBanda.valoracion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="rocktionaryApp.puntuacionBanda.fechaPuntuacion" for="field_fechaPuntuacion">Fecha Puntuacion</label>
                <div class="input-group">
                    <input id="field_fechaPuntuacion" type="text" class="form-control" name="fechaPuntuacion" datetime-picker="{{dateformat}}" ng-model="vm.puntuacionBanda.fechaPuntuacion" is-open="vm.datePickerOpenStatus.fechaPuntuacion"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaPuntuacion')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="rocktionaryApp.puntuacionBanda.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.puntuacionBanda.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="rocktionaryApp.puntuacionBanda.banda" for="field_banda">Banda</label>
            <select class="form-control" id="field_banda" name="banda" ng-model="vm.puntuacionBanda.banda" ng-options="banda as banda.nombre for banda in vm.bandas track by banda.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
